@font-face {
  font-family: Neon;
  src: url(../fonts/neon.ttf)
}
@font-face {
  font-family: GeoSans;
  src: url(../fonts/geosanslight.ttf);
}
@font-face {
  font-family: GeoSans;
  font-style: italic;
  src: url(../fonts/geosanslight-oblique.ttf);
}
body{
  background-color: #eeeeee;
}
input{
  margin-top: 20px;
  padding: none;
  color: black;
  margin-right: 5px;
}
td{
  padding: 10px;
}
p, a, table, h4, li, h2, h3{
  font-size: 1.5em;
  font-family: GeoSans;
}
h1, h2, h3, h4{
  font-weight: bold;
}
h1{
  font-size: 3em;
}
h2{
  font-size: 2em;
}
h3{
  font-size: 1.9em;
}
h4{
  font-size: 1.75em;
}
img{
  max-height: 300px;
}
#welcome{
  text-align: center;
  font-family: Neon;
  color: white;
  background-color: #5b965b;
}
#table-div{
  max-height: 300px;
  overflow: scroll;
}
#map-container {
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}
#menu-box{
  background-color: #b20000;
  color: white;
  border-bottom: 1px solid blue;
  width: inherit;
  height: 75px;
}
#race-info h2{
  display: inline-block;
}
#race-info li{
  font-size: 1em;
}
#alabama, #alaska, #arizona, #Arkansas, #california, #colorado, #connecticut, #florida, #georgia, #hawaii, #idaho, #illinois, #indiana, #iowa, #kansas, #kentucky, #louisiana, #maryland, #missouri, #nevada, #new-hampshire, #new-york, #north-carolina, #south-carolina, #north-dakota, #south-dakota, #ohio, #oklahoma, #oregon, #pennsylvania, #utah, #vermont, #washington, #wisconsin{
  background-color: #5b965b;
}
#alabama:hover, #alaska:hover, #arizona:hover, #Arkansas:hover, #california:hover, #colorado:hover, #connecticut:hover, #florida:hover, #georgia:hover, #hawaii:hover, #idaho:hover, #illinois:hover, #indiana:hover, #iowa:hover, #kansas:hover, #kentucky:hover, #louisiana:hover, #maryland:hover, #missouri:hover, #nevada:hover, #new-hampshire:hover, #new-york:hover, #north-carolina:hover, #south-carolina:hover, #north-dakota, #south-dakota:hover, #ohio:hover, #oklahoma:hover, #oregon:hover, #pennsylvania:hover, #utah:hover, #vermont:hover, #washington:hover, #wisconsin:hover{
  background-color: #006400;
}
#delaware, #massachusetts, #michigan, #minnesota, #new-jersey, #new-mexico, #rhode-island, #virginia{
  background-color: #8aacb8;
}
#delaware:hover, #massachusetts:hover, #michigan:hover, #minnesota:hover, #new-jersey:hover, #new-mexico:hover, #rhode-island:hover, #virginia:hover{
background-color: #000080;
}
#mississippi, #nebraska, #tennessee, #texas, #wyoming{
background-color: #b20000;
}
#mississippi:hover, #nebraska:hover, #tennessee:hover, #texas:hover, #wyoming:hover{
  background-color: #660000;
}
#maine, #montana, #west-virginia{
  background-color: #551A8B;
}
#maine:hover, #montana:hover, #west-virginia:hover{
  background-color: #800080;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
.nav a{
  font-size: 1.25em;
}
.dropdown-menu a{
  font-size: 1.1em;
}
.state-box{
  display: inline-block;
  width: 150px;
  height: 75px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 10px 10px black;
  text-align: center;
  white-space: normal;
  float: none;
  margin: 20px;
  -webkit-transition: box-shadow 1s, background-color 1s;
  vertical-align: middle;
}
.state-box:hover, .no-shadow{
  box-shadow: none;
}
.state-box > a{
  color: white;
  text-decoration: none;
  vertical-align: middle;
}
.not-open{
  color: red;
}
.filler-text{
  font-style: italic;
}
.states-key{
  padding-top: 20px;
}
.states-key p{
  text-align: left !important;
}
.green{
  color: #5b965b;
}
.blue{
  color:  #8aacb8;
}
.red{
  color: #b20000;
}
.purple{
  color: #551A8B;
}
