
<!DOCTYPE html>
<html>
    <head>


        <!-- angular -->
        <script type="text/javascript" src="js/angular.min.js"></script>



        <!-- High Maps
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="https://code.highcharts.com/maps/highmaps.js"></script>
        <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/mapdata/countries/us/us-all.js"></script>
        <script src="js/map.js"></script> -->

        <!-- script -->
        <script src="js/jquery-2.2.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>

<!-- css -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/style.css" />
    </head>

    <body ng-app="myApp">
        <div class="container-fluid" ng-controller="BaseController as senateCtrl">
        <!--  <div id="map-container"></div> -->
<div class='row'>
  <div class="col-xs-12">
  <div id="menu-box">
    <h1>Senate Election 2016</h1>
    <input type="text" name="search" ng-model="inputQuery"></input>
  </div>
</div>
</div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="state-box" ng-repeat="state in senateCtrl.states | filter: inputQuery" ng-click="senateCtrl.showRaceClick(state)">
                  <a href=#>{{state}}</a>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
              <div class="row">

                <div class='col-md-5'>
                  <div id="race-info">
                </div>
              </div>
                <div class='col-md-7'>
                  <div id="cand-info" class='tab-content'>
                </div>
              </div>
              </div>
              </div>
            </div>

        </div>


    </body>
</html>
